<!--The content below is only a placeholder and can be replaced.-->
<div class="app-container">
    <header>
        <div class="app-header-container">
            <img src="/assets/header_icon.svg" />
            <div class="app-controls-container">
                <add-download-button></add-download-button>
            </div>
        </div>
        <div style="clear:both"></div>
    </header>
    <div class="app-downloads-container">
        <download-item status="Downloading"></download-item>
        <download-item></download-item>
        <download-item></download-item>
        <download-item></download-item>
        <download-item></download-item>
    </div>
</div>
